<!DOCTYPE html>
<html>
  <head>
    <title>Primeiro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= alert %>
  	<%if logged_in?%>
  		<p>Voce esta logado</p><%= link_to "Logout", logout_path, method: :delete %>
  	<% end %> 
    <%= yield %>
  </body>
</html>
